
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
    line-height: 1.6;
    color: #ecf0f1;
}

/* encabezado */
.main-header {
    background-color: #2e2e2e;
    color: #ecf0f1;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.main-title {
    font-size: 4em;
    font-weight: 200;
    font-style: normal;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
}

.poli-logo {
    height: 100px;
    border: 3px solid #f12711;
    padding: 5px;
    transition: transform 0.3s ease;
}


/* animacion */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.poli-logo:hover {
    transform: scale(1.1);
    animation: shake 0.5s ease-in-out infinite;
}

/* tabla */
.flex-table {
    width: 95%;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(0,0,0,1);
    position: relative;
}


.flex-row {
    display: flex;
    border-bottom: 1px solid #4e4e4e;
    transition: background-color 0.3s;
}

.flex-row.header {
    background-color: #f12711;
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.1em;
}

.flex-row:last-child {
    border-bottom: none;
}

.flex-row:hover:not(.header) {
    background-color: #3a3a3a;
    transform: scale(1.01);
}

.flex-cell {
    padding: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f12711;
    transition: all 0.3s ease;
}

/* degradado de grises */
.profile-pic:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}


/* pie de pagina */
footer {
    background: #2e2e2e;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}